<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hopeframework.biz.api.mapper.DemoMapper">

    <!-- 自定义 SQL 示例：按名称模糊统计 -->
    <select id="countByName" resultType="int">
        select count(1) from demo
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

</mapper>